/* Reset and General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

button {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}

header {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.task-list {
    width: 45%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}

.task-list h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333; 
}

.task-form {
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.task-form h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.task-form .input-group {
    display: flex;
}

.task-form input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f8f9fa;
    color: #333;
    margin-right: 10px; 
}

.task-form .task-type {
    margin-bottom: 10px;
}

.task-form .task-type label {
    display: inline-block;
    margin-right: 20px;
}

.task-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.task-form button:hover {
    background-color: #0056b3;
}


.dark-mode {
    background-color: #222;
    color: #fff;
}